{% extends "core/base.html" %}
{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'core/css/gestion_de_stock.css' %}">
{%endblock%}


{% block title %}Pagina de bienvenida{% endblock %}
{% block section_title %}{% endblock %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2 class="text-center">Gestión de stock</h2>
        <div class="card">
            <div class="card-body">
               <form action="/registrarStock" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="textCodigo" class="form-control" placeholder="Código de producto" 
                            minlength="13" maxlength="13" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtDescripcion" name="textDescripcion" class="form-control" placeholder="Descripción" 
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="Stock_actual" name="Stock_actual" class="form-control" placeholder="Stock actual"
                            min="0" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="Stock_reservado" name="Stock_reservado" class="form-control" placeholder="Stock reservado"
                            min="0" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="Stock_disponible" name="Stock_disponible" class="form-control" placeholder="Stock disponible"
                            min="0" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button> 
                    </div>               
                </form> 
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h3 class="text-center">Listado de productos</h3>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Stock actual</th>
                        <th>Stock reservado</th>
                        <th>Stock disponible</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in productos %}
                    <tr>
                        <td>{{c.codigo_producto}}</td>
                        <td>{{c.descripcion}}</td>
                        <td>{{c.stock_actual}}</td>
                        <td>{{c.stock_reservado}}</td>
                        <td>{{c.stock_disponible}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
