{% extends "core/base.html" %}
{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{%endblock%}


{% block title %}Pagina de bienvenida{% endblock %}
{% block section_title %}{% endblock %}
{% block content %}


<section class="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</section>






<h2 style="color: white;">Bienvenid@ a tsolcrm <span style="font-size: 70%;">v1.0</span></h2>
<p style="color: white;">Usuario logueado como: <b>{{ nombre_usuario }}</b></p>

{% if es_instructor %}
    <p style="color: red;">Rol: Operador</p>
{% else %}
    <p style="color: green;">Rol: Supervisor</p>
{% endif %}

{% filter lower %}
<p style="color: white;">Día de la fecha: {{ fecha }}</p>
{% endfilter %}


{% endblock %}