{% extends "core/base.html" %}
{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{%endblock%}


{% block title %}Pagina de bienvenida{% endblock %}
{% block section_title %}{% endblock %}
{% block content %}




<h2 style="color: white;">Bienvenid@ a tsolcrm <span style="font-size: 70%;">v1.0</span></h2>
<p style="color: white;">Usuario logueado como: <b>{{ nombre_usuario }}</b></p>

{% if es_instructor %}
    <p style="color: red;">Rol: Operador</p>
{% else %}
    <p style="color: green;">Rol: Supervisor</p>
{% endif %}

{% filter lower %}
<p style="color: white;">Día de la fecha: {{ fecha }}</p>
{% endfilter %}


{% endblock %}