* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: rgb(194, 192, 192);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header, main, footer {
    padding: 15px;
}

header {
    background-color: gray;
    padding: 1em 0;
    justify-content: right;
    align-items: center;
    text-align: right;
    margin-bottom: 1em;
}

header .title {
    flex: 1;
}

header h2{
 color: white;
 font-weight: 100;
}

header .actions {
    text-decoration: none;
    color: white;
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
}
header .actions a {
    text-decoration: none;
    display: inline-block;
    background-color: darkturquoise;
    padding: 15px;
    border-radius: 5px;

    margin: 0 15px;

    color: white;

    transition: 0.2s all;
}

header .actions a.logout {
    background-color: red;
}

header .actions a:hover {
    background-color: white;
    color: black;
}
main {
    flex: 1;
}

footer {
    text-decoration: none;
    background-color: gray;
    padding: 1em 0;
    text-align: center;
    margin-top: auto;
}

.messages {
    border: 3px solid black;
    padding: 25px;
}



*{margin: 0;padding: 0;
box-sizing: border-box;}


.messages {
    border: 3px solid black;
    padding: 25px;
}

 /*.video-container{
    position: absolute;
    z-index: -100;
    top: 2000;
    left: 0;
    width: 100%;
    height: calc( 100vw * 0.5625 ) ;
    overflow: hidden;
    
    }
    
    
    .video-container video{
    position: absolute;
    top: 200;
    left: 0;
    width: 100vw;
    
    
    } */
